.blue {
  color: blue;
  background: yellow;
}

.green {
  color: green;
}

.value {
  margin: 0px 20px;
  font-size: 30px;
}

button {
  background: cyan;
  color: gray;
  font-size: 20px;
  border-radius: 5px;
}
