@import url("https://fonts.googleapis.com/css2?family=Hahmlet:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.App {
  text-align: center;
}

* {
  font-family: "Hahmlet", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.todos,
.posts {
  width: 80%;
  margin: 0px auto;
}
